body {
  font-family: 'Open Sans', sans-serif;
  width: 70%;
  margin: 0 auto;
}

.title {
  background-color: rgba(256,256,256,1);
  width: 75%;
  margin: 2em auto;
}

h1 {
  text-align: center;
  color: rgba(74,144,226,1);
  font-size: 4em;
}

.about-form {
  margin: 0 auto;
}

h3 {
  display: inline-block;
  font-weight: 300;
  width: 80%;
  text-align: left;
  margin-left: 1em;
}

.capitalise {
  text-transform: capitalize;
}

input {
  font-size: 1em;
  margin-left: 1em;
  padding: 0.5em;
  width: 80%;
  margin-top: -1em;
  border: none;
  border-bottom: 0.1em solid rgba(74,144,226,1);
  border-radius: 0.4em;
  background-color: rgba(256,256,256,1);
}

input:focus {
  border: 0.1em solid rgba(74,144,226,1);
  outline: none;
}

select {
  width: 23%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: rgba(102,102,102,1);
  background-color: rgba(256,256,256,1);
  border: 0.1em solid rgba(74,144,226,1);
  margin-left: 1em;
}

select:focus {
  outline: none;
}

input.phone {
  width: 54%;
  margin-left: 1em;
}

.error {
  margin-left: 1em;
  margin-bottom: -0.5em;
}

.tick {
  float: right;
  margin-top: 2.5em;
  margin-right: 0.5em;
}

#submit {
  border: 0.1em solid rgba(74,144,226,1);
  border-radius: 0.4em;
  margin: 2em 4.5em 2em 0em;
  background-color: rgba(74,144,226,1);
  color: rgba(256,256,256,1);
  font-size: 1.2em;
  width: 25%;
  float: right;
}

@media only screen and (max-width: 780px) {
  body {
    width: 90%;
  }
  h1 {
    font-size: 3em;
  }
  .about-form {
    width: 95%;
  }
}

@media only screen and (max-width: 600px) {
  h3, input, select {
    font-size: 1em;
  }
}

@media only screen and (max-width: 500px) {
  h3 {
    width: 92%;
    text-align: left;
  }
  input {
    font-size: 0.8em;
    width: 80%;
    float: left;
    margin-top: -0.5em;
  }
  input.phone {
    width: 58%;
    margin-left: 0.5em;
    margin-top: 0em;
  }
  select {
    width: 20%;
    margin-left: 1em;
    margin-top: 0.2em;
    font-size: 0.8em;
    float: left;
  }
  .error {
    margin-left: -2em;
    margin-bottom: -2em;
  }
  .tick {
    width: 2em;
    margin-top: 1.2em;
  }
  #submit {
    font-size: 0.7em;
    width: 20%;
    float: right;
    margin-right: 4em;
  }
}
